body {
    font-family: 'Barlow Semi Condensed';
    position: relative;
  }
  
  .navbarbg {
    color: white;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: #000000;
  }
  .navbarbg a {
    position: absolute;
    top: 21px;
    height: 20px;
    left: 171px;
    right: 22.77%;
    font-family: "Barlow Semi Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.08px;
  }
  
  .navbar-light {
    top: 45px;
    padding: 0 75px;
    width: 100%;
    height: 50px;
  }